<% @title = 'LocalGuide' %>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var geocoder;
  var map;
  var infowindow = new google.maps.InfoWindow();
  var marker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(40.730885,-73.997383);
    var mapOptions = {
      zoom: 8,
      center: latlng,
      mapTypeId: 'roadmap'
    }
    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
  }

  function codeLatLng() {
    var input = document.getElementById('latlng').value;
    var latlngStr = input.split(',', 2);
    var lat = parseFloat(latlngStr[0]);
    var lng = parseFloat(latlngStr[1]);
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          map.setZoom(11);
          marker = new google.maps.Marker({
              position: latlng,
              map: map
          });
          infowindow.setContent(results[1].formatted_address);
          infowindow.open(map, marker);
        } else {
          alert('No results found');
        }
      } else {
        alert('Geocoder failed due to: ' + status);
      }
    });
  }
</script>

<style type="text/css">
  #map_canvas {
    float: left;
    height: 900px;
    width: 1150px;
  }

</style>

<form id="map_tool_form" action="/get_data" method="post">
  <fieldset>
   <div class="control-group">
     <label class="control-label" for="City">City</label>
     <div class="controls">
       <select id="city" name="city">
       <% @cities.each do |city| %>
         <option name="<%= city %>" value="<%= city %>">
           <%= city %>
         </option>
       <% end %>
       </select>
     </div>
   </div>
   <div class="control-group">
     <div class="controls">
       <input type="submit" class="btn" name="mapit" value="Map It!">
         <br/><br/>
   </div>

 </fieldset>
</form>
<%- if @markers.blank? %>
<img src='/chart.png'>
<%- else %>
<div id="map_canvas">
</div>
<%- end %>

<ul id="markers" style="display:none">
  <% @markers.each do |marker| %>
<li data-id="<%= marker[3] %>" data-lng="<%= marker[1] %>" data-lat="<%= marker[0] %>" data-color="<%= marker[2] %>"></li>
  <% end %>
</ul>
<ul id="guidebook-recommendations" style="display:none;">
<%- @places.each_with_index do |rec, index| %>
<li id="p<%= rec.place.id %>">
<address style="color:#808080"><p><%= link_to rec.name.blank? ? rec.place.name : rec.name, rec.place.website %></p>
<%- if !rec.place.approximate_address? %>
<p><%= rec.place.address %></p>
<%- else %>
<p><%= rec.place.formatted_address %></p>
<%- end %>
<p><span><%= rec.place.city %></span>
<span><%= rec.place.state %></span>
<span><%= rec.place.zipcode %></span></p></address>
<div><%= (h(rec.reason)).gsub("\n", '').html_safe %></div></li>
<%- end %>
</ul>
<ul id="places-popups" style="display:none;">
<%- @hostings.each_with_index do |hos, index| %>
<li id="h<%= hos.id %>" data-id="<%= hos.id %>" data-nm="<%= hos.name %>" data-rv="<%= hos.visible_review_count %>" data-pr="<%= hos.price_native %>"/>
<%- end %>
</ul>
<script>
  window.onload = function() {
    load_google_map();
  }
</script>
